<h1>Planning poker</h1>
<p>Se você quiser saber mais sobre este meio de priorização, visite:</p>
<li><a href="http://bit.ly/wiki-planning-poker">Wiki</a></li>

<ul>
  <% if user_signed_in? %>
      <li><%= link_to "Histórias de Usuário", user_stories_path %></li>
  <% else %>
      <li><%= link_to "Novo usuário", new_user_registration_path %></li>
      <li> <%= link_to "Entrar", new_user_session_path %></li>
  <% end %>
</ul>